*{
    margin:0;
    padding:0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(landingpagebackground.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 90%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-top: -8%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #3bc43f;  
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover{
    color: #fff;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #fff;
    vertical-align: middle; 
    color: #fff;
}

.content{
    outline:none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family:arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'times new roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 1%;
    margin-left: 10px;
    letter-spacing: 2px;
}

.content p{
    margin-left: 28px;
} 

.content h2{
    margin-left: 28px;
    font-family: 'Times New Roman';
} 

.content .b{
    width: 160px;
    height: 40px;
    background: #fff;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .b a{
    text-decoration: none;
    color: #000;
    transition: .3 ease;
}
.b:hover{
    background-color: #00db09;  
}

.content span{
    color:#00db09;
    font-size: 60px;
}

.form{
    text-align: center;
    width: 280px;
    height: 390px;
    background: linear-gradient(to top, rgba(72, 81, 86, 0.8)60%, rgba(72, 81, 86, 0.8)60%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #00db09;
    font-size: 22px;
    background-color: transparent;  
    border-radius: 10px;
    margin: 2px;
    padding: 8px; 
}

.form input{
    width: calc(100% - 60px); 
    height: 30px;
    background: transparent;
    border-bottom: 1px solid #00db09;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-break: normal;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}


::placeholder{
    color: #fff;
    font-family: Arial;
}

.b1{
    width: 240px;
    height: 40px;
    background: #00db09;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
}

.b1:hover{
    background: linear-gradient(to top, #0a5c03, #08e70f);
    color: #00db09;
}

.b1 a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
     text-decoration: none;
     color: #00db09;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.form i{
    margin-left: 7%;
    color: #fff;
    font-size: 40px;
    transition: .2s ease;
}

.form i:hover {
    color: #00db09;
}
